<%- include('../head'); -%>

    <body>
        <div id="app" v-cloak>
            <v-app>
                <v-navigation-drawer app color="grey darken-4" v-model="drawer" flat :mini-variant="drawer" permanent>
                    <v-list nav dense dark>
                        <v-list-item-group>
                            <v-list-item v-for="(link, i) in links" :key="i" link :href="`/admin${link.url}`">
                                <v-list-item-icon v-if="!drawer">
                                    <v-icon v-text="link.icon"></v-icon>
                                </v-list-item-icon>
                                <v-tooltip right v-else color="grey darken-4">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-list-item-icon v-bind="attrs" v-on="on">
                                            <v-icon v-text="link.icon"></v-icon>
                                        </v-list-item-icon>
                                    </template>
                                    <span>{{link.title}}</span>
                                </v-tooltip>
                                <v-list-item-title>{{link.title}}</v-list-item-title>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>

                <v-app-bar app elevation="0" color="grey lighten-3">
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                    <v-toolbar-title>Панель Админа</v-toolbar-title>
                    <v-spacer></v-spacer>

                    <v-btn icon color="red accent-2">
                        <v-icon>mdi-cog</v-icon>
                    </v-btn>
                    <v-badge color="red accent-2" dot content="1" overlap>
                        <v-btn icon color="deep-purple lighten-2">
                            <v-icon>mdi-bell</v-icon>
                        </v-btn>
                    </v-badge>
                    <v-btn icon color="deep-purple lighten-2">
                        <v-icon>mdi-account</v-icon>
                        <!-- <v-icon>mdi-dots-vertical</v-icon> -->
                    </v-btn>
                </v-app-bar>

                <v-main app style="background-color: #eee;">
                    <v-container fluid color="grey lighten-3">
                        <v-row class="mt-2">
                            <v-col cols="12" sm="6" md="3">
                                <v-card class="mx-auto" max-width="344">
                                    <v-sheet style="position: absolute; top: -10px; left: 10px;" color="amber darken-1"
                                        height="75" width="75" rounded elevation="3"
                                        class="d-flex align-center justify-center">
                                        <v-icon x-large color="white">
                                            mdi-food
                                        </v-icon>
                                    </v-sheet>
                                    <v-card-text style="text-align: right;">
                                        <div>Схема питания</div>
                                        <p class="text-h4 text--primary">
                                            {{ countinfo.mealplans }}
                                        </p>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <v-card class="mx-auto" max-width="344">
                                    <v-sheet style="position: absolute; top: -10px; left: 10px;" color="pink accent-3"
                                        height="75" width="75" rounded elevation="3"
                                        class="d-flex align-center justify-center">
                                        <v-icon x-large color="white">
                                            mdi-account-group
                                        </v-icon>
                                    </v-sheet>
                                    <v-card-text style="text-align: right;">
                                        <div>Пользователи</div>
                                        <p class="text-h4 text--primary">
                                            {{ countinfo.users }}
                                        </p>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <v-card class="mx-auto" max-width="344">
                                    <v-sheet style="position: absolute; top: -10px; left: 10px;" color="green accent-3"
                                        height="75" width="75" rounded elevation="3"
                                        class="d-flex align-center justify-center">
                                        <v-icon x-large color="white">
                                            mdi-account-star
                                        </v-icon>
                                    </v-sheet>
                                    <v-card-text style="text-align: right;">
                                        <div>Тренеры</div>
                                        <p class="text-h4 text--primary">
                                            {{ countinfo.trainers }}
                                        </p>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <v-card class="mx-auto" max-width="344">
                                    <v-sheet style="position: absolute; top: -10px; left: 10px;"
                                        color="light-blue accent-3" height="75" width="75" rounded elevation="3"
                                        class="d-flex align-center justify-center">
                                        <v-icon x-large color="white">
                                            mdi-weight-lifter
                                        </v-icon>
                                    </v-sheet>
                                    <v-card-text style="text-align: right;">
                                        <div>Тренировки</div>
                                        <p class="text-h4 text--primary">
                                            {{ countinfo.exercises }}
                                        </p>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-card class="mt-6">
                            <v-sheet style="position: absolute; top: -10px; left: 10px;"
                                color="deep-purple accent-4" height="65" width="65" rounded elevation="3"
                                class="d-flex align-center justify-center">
                                <v-icon x-large color="white">
                                    mdi-web
                                </v-icon>
                            </v-sheet>
                            <v-card-title>
                                <div style="transform: translateX(70px);">Finances</div>
                                <v-spacer></v-spacer>
                                <!-- <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                                    hide-details outlined dense></v-text-field> -->
                            </v-card-title>
                            <v-data-table :headers="headers" :items="desserts" 
                                :items-per-page="5" :search="search"></v-data-table>
                        </v-card>
                    </v-container>
                </v-main>
            </v-app>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: () => ({
                    drawer: null,
                    countinfo: {
                        users: 0,
                        trainers: 0,
                        admins: 0,
                        mealplans: 0,
                        exercises: 0,
                    },
                    links: [
                        { title: 'Дашбоард', icon: 'mdi-home', url: '/dashboard' },
                        { title: 'Пользователи', icon: 'mdi-account', url: '/users' },
                        { title: 'Тренеры', icon: 'mdi-account-school', url: '/trainers' },
                        { title: 'Админы', icon: 'mdi-account-tie-hat', url: '/admins' },
                        { title: 'Продукт', icon: 'mdi-baguette', url: '/products' },
                        { title: 'Схема питания', icon: 'mdi-hamburger', url: '/mealplans' },
                        { title: 'Финансы', icon: 'mdi-currency-usd', url: '/finance' },
                        { title: 'Упражнение', icon: 'mdi-dumbbell', url: '/exercises' },
                        { title: 'Тренировки', icon: 'mdi-karate', url: '/workout' },
                        { title: 'Feedback', icon: 'mdi-message-processing', url: '/feedback' },
                    ],
                    search: '',
                    headers: [
                        {
                            text: 'Dessert (100g serving)',
                            align: 'start',
                            sortable: false,
                            value: 'name',
                        },
                        { text: 'Calories', value: 'calories' },
                        { text: 'Fat (g)', value: 'fat' },
                        { text: 'Carbs (g)', value: 'carbs' },
                        { text: 'Protein (g)', value: 'protein' },
                        { text: 'Iron (%)', value: 'iron' },
                    ],
                    desserts: [
                        {
                            name: 'Frozen Yogurt',
                            calories: 159,
                            fat: 6.0,
                            carbs: 24,
                            protein: 4.0,
                            iron: '1%',
                        },
                        {
                            name: 'Ice cream sandwich',
                            calories: 237,
                            fat: 9.0,
                            carbs: 37,
                            protein: 4.3,
                            iron: '1%',
                        },
                        {
                            name: 'Eclair',
                            calories: 262,
                            fat: 16.0,
                            carbs: 23,
                            protein: 6.0,
                            iron: '7%',
                        },
                        {
                            name: 'Cupcake',
                            calories: 305,
                            fat: 3.7,
                            carbs: 67,
                            protein: 4.3,
                            iron: '8%',
                        },
                        {
                            name: 'Gingerbread',
                            calories: 356,
                            fat: 16.0,
                            carbs: 49,
                            protein: 3.9,
                            iron: '16%',
                        },
                        {
                            name: 'Jelly bean',
                            calories: 375,
                            fat: 0.0,
                            carbs: 94,
                            protein: 0.0,
                            iron: '0%',
                        },
                        {
                            name: 'Lollipop',
                            calories: 392,
                            fat: 0.2,
                            carbs: 98,
                            protein: 0,
                            iron: '2%',
                        },
                        {
                            name: 'Honeycomb',
                            calories: 408,
                            fat: 3.2,
                            carbs: 87,
                            protein: 6.5,
                            iron: '45%',
                        },
                        {
                            name: 'Donut',
                            calories: 452,
                            fat: 25.0,
                            carbs: 51,
                            protein: 4.9,
                            iron: '22%',
                        },
                        {
                            name: 'KitKat',
                            calories: 518,
                            fat: 26.0,
                            carbs: 65,
                            protein: 7,
                            iron: '6%',
                        },
                    ],
                }),
                created(){
                    this.getAllInfo();
                },
                methods: {
                    async getAllInfo(){
                        const { data } = await axios.get('/getinfo');
                        if(data.status){
                            Object.assign(this.countinfo, data.result)
                        }
                    }
                },
                vuetify: new Vuetify()
            })
        </script>
    </body>

    </html>