<%- include('../head'); -%>

    <body>
        <div id="app" v-cloak>
            <v-app>
                <v-navigation-drawer app color="grey darken-4" v-model="drawer" flat :mini-variant="drawer" permanent>
                    <!-- <v-list nav dense dark>
                        <div v-for="(link, i) in links" :key="i">
                            <v-list-item v-if="link.url" link :href="`/admin${link.url}`">
                                <v-list-item-icon v-if="!drawer">
                                    <v-icon v-text="link.icon"></v-icon>
                                </v-list-item-icon>
                                <v-tooltip right v-else color="grey darken-4">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-list-item-icon v-bind="attrs" v-on="on">
                                            <v-icon v-text="link.icon"></v-icon>
                                        </v-list-item-icon>
                                    </template>
                                    <span>{{link.title}}</span>
                                </v-tooltip>
                                <v-list-item-title>{{link.title}}</v-list-item-title>
                            </v-list-item>

                            <v-list-group v-else :value="false" active-class="blue--text text--accent-1"
                                :prepend-icon="link.icon" append-icon="mdi-menu-down">
                                <template v-slot:activator>
                                    <v-list-item-title>{{link.title}}</v-list-item-title>
                                </template>

                                <v-list-item :class="drawer?'':'ml-10'" v-for="(cl, i) in link.child" link
                                    :href="`/admin${cl.url}`">
                                    <v-list-item-icon v-if="!drawer">
                                        <v-icon v-text="cl.icon"></v-icon>
                                    </v-list-item-icon>
                                    <v-tooltip right v-else color="grey darken-4">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-list-item-icon v-bind="attrs" v-on="on">
                                                <v-icon v-text="cl.icon"></v-icon>
                                            </v-list-item-icon>
                                        </template>
                                        <span>{{cl.title}}</span>
                                    </v-tooltip>
                                    <v-list-item-title>{{cl.title}}</v-list-item-title>
                                </v-list-item>
                            </v-list-group>
                        </div>
                    </v-list> -->
                    <v-list nav dense dark>
                        <v-list-item-group>
                            <v-list-item v-for="(link, i) in links" :key="i" link :href="`/admin${link.url}`">
                                <v-list-item-icon v-if="!drawer">
                                    <v-icon v-text="link.icon"></v-icon>
                                </v-list-item-icon>
                                <v-tooltip right v-else color="grey darken-4">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-list-item-icon v-bind="attrs" v-on="on">
                                            <v-icon v-text="link.icon"></v-icon>
                                        </v-list-item-icon>
                                    </template>
                                    <span>{{link.title}}</span>
                                </v-tooltip>
                                <v-list-item-title>{{link.title}}</v-list-item-title>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>

                <v-app-bar app elevation="0" color="grey lighten-3">
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                    <v-toolbar-title>База продуктов</v-toolbar-title>
                    <v-spacer></v-spacer>

                    <v-btn icon color="red accent-2">
                        <v-icon>mdi-cog</v-icon>
                    </v-btn>
                    <v-badge color="red accent-2" dot content="1" overlap>
                        <v-btn icon color="deep-purple lighten-2">
                            <v-icon>mdi-bell</v-icon>
                        </v-btn>
                    </v-badge>
                    <v-btn icon color="deep-purple lighten-2">
                        <v-icon>mdi-account</v-icon>
                    </v-btn>
                </v-app-bar>

                <v-main app style="background-color: #eee;">
                    <v-container fluid>
                        <!-- <v-row class="mb-3" justify="space-around">
                            <v-col cols="12" sm="10" md="8">
                                <v-sheet elevation="2" class="py-2 px-1">
                                    <v-chip-group mandatory active-class="primary--text">
                                        <v-chip v-for="tag in tags" :key="tag">
                                            {{ tag }}
                                        </v-chip>
                                    </v-chip-group>
                                </v-sheet>
                            </v-col>
                        </v-row> -->
                        <v-data-table :headers="headers" :items="desserts" :search="search" class="elevation-2">
                            <template v-slot:top>
                                <div class="d-flex py-3 px-3">
                                    <v-row class="d-flex justify-space-between">
                                        <v-col cols="6" sm="6" md="6">
                                            <v-text-field v-model="search" append-icon="mdi-magnify" label="Поиск" solo
                                                hide-details dense></v-text-field>
                                        </v-col>
                                        <v-col cols="4" sm="6" md="6" class="d-flex justify-end">
                                            <v-spacer></v-spacer>
                                            <v-dialog v-model="dialog" max-width="400px">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn dark class="mb-2" v-bind="attrs" v-on="on">
                                                        Добавлять
                                                    </v-btn>
                                                </template>
                                                <v-card>
                                                    <v-form ref="form" v-model="valid" lazy-validation>
                                                        <v-card-title>
                                                            <span class="text-h5">{{ formTitle }}</span>
                                                        </v-card-title>

                                                        <v-card-text>
                                                            <v-container>
                                                                <v-row>
                                                                    <v-col cols="12">
                                                                        <v-text-field v-model="editedItem.title"
                                                                            label="Название" outlined hide-details dense
                                                                            :rules="nameRules">
                                                                        </v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12">
                                                                        <v-text-field v-model="editedItem.portion"
                                                                            label="1 порция гр." min="0" outlined
                                                                            hide-details dense type="number"
                                                                            :rules="nameRules">
                                                                        </v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12">
                                                                        <v-select :items="tags" label="Категория"
                                                                            outlined hide-details dense
                                                                            v-model="editedItem.category"
                                                                            :rules="[v => !!v || 'Укажите категорию']">
                                                                        </v-select>
                                                                    </v-col>
                                                                    <v-col cols="12">
                                                                        <v-text-field v-model="editedItem.cookingtime"
                                                                            label="Готовка ( в мин. )" min="0" outlined
                                                                            hide-details dense type="number"
                                                                            :rules="nameRules">
                                                                        </v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12">
                                                                        <v-text-field v-model="editedItem.carbohydrates"
                                                                            label="Содержание углеводов ( в гр. )" min="0" outlined
                                                                            hide-details dense type="number"
                                                                            :rules="nameRules">
                                                                        </v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12">
                                                                        <v-text-field v-model="editedItem.fat"
                                                                            label="Содержание жиров ( в гр. )" min="0" outlined
                                                                            hide-details dense type="number"
                                                                            :rules="nameRules">
                                                                        </v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12">
                                                                        <v-text-field v-model="editedItem.proteins"
                                                                            label="Содержание белков ( в гр. )" min="0" outlined
                                                                            hide-details dense type="number"
                                                                            :rules="nameRules">
                                                                        </v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12">
                                                                        <v-text-field v-model="editedItem.calories"
                                                                            label="Содержание калориев ( в гр. )" min="0" outlined
                                                                            hide-details dense type="number"
                                                                            :rules="nameRules">
                                                                        </v-text-field>
                                                                    </v-col>

                                                                    <v-col cols="12">
                                                                        <div class="d-flex align-center">
                                                                            <v-avatar>
                                                                                <img :src="urlImage">
                                                                            </v-avatar>
                                                                            <v-file-input :label="!editedId?'Добавить фото':'Поменять фото'" outlined dense v-model="file"
                                                                            hide-details></v-file-input>
                                                                             <!-- :rules="[v => !!v || 'Укажите изображение']" -->
                                                                        </div>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-container>
                                                        </v-card-text>

                                                        <v-card-actions>
                                                            <v-spacer></v-spacer>
                                                            <v-btn color="blue darken-1" text @click="close">
                                                                Отмена
                                                            </v-btn>
                                                            <v-btn color="blue darken-1" :disabled="!valid" text
                                                                @click="validate">
                                                                Сохранять
                                                            </v-btn>
                                                        </v-card-actions>
                                                    </v-form>
                                                </v-card>
                                            </v-dialog>
                                            <v-dialog v-model="dialogDelete" max-width="400px">
                                                <v-card outlined tile>
                                                    <v-card-title class="text-h5">
                                                        Вы уверены, что хотите удалить этот элемент?
                                                    </v-card-title>
                                                    <v-card-text>Внимание. После того, как информация будет удалена, она
                                                        не может быть восстановлена!</v-card-text>
                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel
                                                        </v-btn>
                                                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </v-col>
                                    </v-row>
                                </div>
                            </template>
                            <template v-slot:item.image="{ item }">
                                <v-avatar rounded>
                                    <img :src="`/files/${item.image}`">
                                </v-avatar>
                            </template>
                            <template v-slot:item.date="{ item }">
                                <span>{{ dateformat(item.updatedAt) }}</span>
                            </template>
                            <template v-slot:item.public="{ item }">
                                <v-chip :color="item.public?'green':'red'" dark small>
                                    {{ item.public?'public':'private' }}
                                </v-chip>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-menu offset-y>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" icon>
                                            <v-icon>mdi-dots-horizontal</v-icon>
                                        </v-btn>
                                    </template>
                                    <v-list dense>
                                        <v-list-item link @click="editItem(item)">
                                            <v-list-item-title>Edit</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item link @click="deleteItem(item)">
                                            <v-list-item-title>Delete</v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </template>
                        </v-data-table>
                    </v-container>
                    <v-snackbar v-model="snackbar" :timeout="2000">
                        {{ snacktext }}
                        <template v-slot:action="{ attrs }">
                            <v-btn :color="snackstatus?'green':'red'" text v-bind="attrs" @click="snackbar = false">
                                Закрывать
                            </v-btn>
                        </template>
                    </v-snackbar>
                </v-main>
            </v-app>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: () => ({
                    drawer: null,
                    links: [
                        { title: 'Дашбоард', icon: 'mdi-home', url: '/dashboard' },
                        { title: 'Пользователи', icon: 'mdi-account', url: '/users' },
                        { title: 'Тренеры', icon: 'mdi-account-school', url: '/trainers' },
                        { title: 'Админы', icon: 'mdi-account-tie-hat', url: '/admins' },
                        { title: 'Продукт', icon: 'mdi-baguette', url: '/products' },
                        { title: 'Схема питания', icon: 'mdi-hamburger', url: '/mealplans' },
                        { title: 'Финансы', icon: 'mdi-currency-usd', url: '/finance' },
                        { title: 'Упражнение', icon: 'mdi-dumbbell', url: '/exercises' },
                        { title: 'Тренировки', icon: 'mdi-karate', url: '/workout' },
                        { title: 'Feedback', icon: 'mdi-message-processing', url: '/feedback' },
                        // { title: 'Дашбоард', icon: 'mdi-home', url: '/dashboard' },
                        // {
                        //     title: 'Пользователи', icon: 'mdi-account', child: [
                        //         { title: 'Пользователи', icon: 'mdi-account', url: '/users' },
                        //         { title: 'Тренеры', icon: 'mdi-account-school', url: '/trainers' },
                        //         { title: 'Админы', icon: 'mdi-account-tie-hat', url: '/admins' },
                        //     ]
                        // },
                        // {
                        //     title: 'Продукт', icon: 'mdi-baguette', child: [
                        //         { title: 'Продукт', icon: 'mdi-baguette', url: '/products' },
                        //         { title: 'Схема питания', icon: 'mdi-hamburger', url: '/mealplans' },
                        //     ]
                        // },
                        // { title: 'Финансы', icon: 'mdi-currency-usd', url: '/finance' },
                        // { title: 'Упражнение', icon: 'mdi-dumbbell', url: '/exercises' },
                        // { title: 'Тренировки', icon: 'mdi-karate', url: '/workout' },
                        // { title: 'Feedback', icon: 'mdi-message-processing', url: '/feedback' },
                    ],
                    tags: [
                        'Злаки',
                        'Овощи',
                        'Фрукты',
                        'Молочка',
                        'Напитки',
                        'Хлебобул',
                    ],
                    valid: false,
                    dialog: false,
                    dialogDelete: false,
                    snackbar: false,
                    snacktext: '',
                    snackstatus: true,
                    headers: [
                        { text: 'Картина', value: 'image', sortable: false, align: 'start', },
                        { text: 'Название', value: 'title' },
                        { text: 'Порция (120 гр.)', value: 'portion' },
                        { text: 'Категория', value: 'category' },
                        { text: 'Готовка (в мин.)', value: 'cookingtime', sortable: false },
                        { text: 'Углеводы (в гр.)', value: 'carbohydrates' },
                        { text: 'Жиры (в гр.)', value: 'fat' },
                        { text: 'Белок (в гр.)', value: 'proteins' },
                        { text: 'Калории (в гр.)', value: 'calories' },
                        { text: 'Действия', value: 'actions', sortable: false },
                    ],
                    desserts: [],
                    search: '',
                    editedIndex: -1,
                    editedId: null,
                    file: null,
                    editedItem: {
                        title: '',
                        portion: '',
                        cookingtime: '',
                        carbohydrates: '',
                        fat: '',
                        image: '',
                        proteins: '',
                        calories: '',
                        category: ''
                    },
                    defaultItem: {
                        title: '',
                        portion: '',
                        cookingtime: '',
                        carbohydrates: '',
                        fat: '',
                        image: '',
                        proteins: '',
                        calories: '',
                        category: ''
                    },
                    nameRules: [
                        v => !!v || 'Укажите поля',
                    ],
                }),

                computed: {
                    formTitle() {
                        return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
                    },
                    urlImage(){
                        if(this.file){
                            return URL.createObjectURL(this.file)
                        }else if(this.editedId && !this.file){
                            return `/files/${this.editedItem.image}`
                        }else{
                            return '/files/nophoto.jpg'
                        }
                    }
                },

                watch: {
                    dialog(val) {
                        val || this.close()
                    },
                    dialogDelete(val) {
                        val || this.closeDelete()
                    },
                },

                created() {
                    this.initialize()
                },

                methods: {
                    validate() {
                        if (this.$refs.form.validate()) {
                            this.save();
                        }
                    },
                    openSnackbar(text, status) {
                        this.snackbar = true;
                        this.snacktext = text;
                        this.snackstatus = status;
                    },

                    async initialize() {
                        const { data } = await axios.get('/product/all');
                        if (data.status) {
                            this.desserts = data.result;
                        }
                    },

                    editItem(item) {
                        this.editedId = item._id;
                        this.editedIndex = this.desserts.indexOf(item)
                        this.editedItem = Object.assign({}, item)
                        this.dialog = true
                    },

                    deleteItem(item) {
                        this.editedId = item._id;
                        this.editedIndex = this.desserts.indexOf(item)
                        this.editedItem = Object.assign({}, item)
                        this.dialogDelete = true
                    },

                    async deleteItemConfirm() {
                        const { data } = await axios.delete(`/product/delete/${this.editedId}`);
                        if (data.status) {
                            this.desserts.splice(this.editedIndex, 1)
                        }
                        this.openSnackbar(data.message, data.status)
                        this.closeDelete()
                    },

                    close() {
                        this.dialog = false
                        this.$nextTick(() => {
                            this.editedItem = Object.assign({}, this.defaultItem)
                            this.editedIndex = -1
                            this.editedId = null;
                            this.file = null;
                        })
                    },

                    closeDelete() {
                        this.dialogDelete = false
                        this.$nextTick(() => {
                            this.editedItem = Object.assign({}, this.defaultItem)
                            this.editedIndex = -1
                            this.editedId = null;
                            this.file = null;
                        })
                    },

                    async save() {
                        const formdata = new FormData();
                        Object.keys(this.editedItem).map(key => {
                            formdata.append(key, this.editedItem[key])
                        })
                        if(this.file){
                            formdata.set('filename', Date.now()+'_'+this.file.name)
                            formdata.append('file', this.file)
                        }
                        if (this.editedIndex > -1) {
                            const { data } = await axios.put(`/product/edit/${this.editedId}`, formdata);
                            if (data.status) {
                                Object.assign(this.desserts[this.editedIndex], data.result)
                            }
                            this.openSnackbar(data.message, data.status)
                        } else {
                            const { data } = await axios.post('/product/add/', formdata);
                            if (data.status) {
                                this.desserts.push(data.result)
                            }
                            this.openSnackbar(data.message, data.status)
                        }
                        this.close()
                    },
                },

                vuetify: new Vuetify()
            })
        </script>
    </body>

    </html>