<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>

<body>
    <form id="form">
        <img width="150" src="/images/1668142458824_photo_2022-11-11_09-52-22.jpg" alt="">
        <p>2000$</p>
        <input type="submit" value="Купить">
    </form>
    <div>
        <input type="text" id="phone" name="phone" placeholder="phone">
        <button onclick="send()">Send</button>
    </div>
    <script src="/js/checkout.js"></script>
    <script>
        const stripeHandler = StripeCheckout.configure({
            key: 'pk_test_51KfQMEETlphXOAyN7iZFr4ixtFraSEZaJsuQkay2U8VawHnfus4rdRp8gZqYI0e9cTT4qQfk0XWJgnVnh3jglPBy00W4doZCXK',
            locale: 'en',
            token: async (token) => {
                fetch('/payment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify({
                        amount: 2000,
                        stripeToken: token.id
                    })
                }).then(resp => resp.json())
                    .then(data => console.log(data))
                    .catch(err => console.log(err))
            }
        })
        document.getElementById('form').addEventListener('submit', (e) => {
            e.preventDefault();
            stripeHandler.open({
                amount: 2000
            })
        })
        function send() {
            const phone = document.getElementById('phone').value;
            if(!value.trim()) return;
            const code = Math.floor(Math.random()*8999 + 1000);
            const options = {
                method: 'POST',
                headers: {
                    'X-RapidAPI-Key': 'SIGN-UP-FOR-KEY',
                    'X-RapidAPI-Host': 'telesign-telesign-send-sms-verification-code-v1.p.rapidapi.com'
                }
            };

            fetch(`https://telesign-telesign-send-sms-verification-code-v1.p.rapidapi.com/sms-verification-code?phoneNumber=${phone}&verifyCode=${code}`, options)
                .then(response => response.json())
                .then(response => console.log(response))
                .catch(err => console.error(err));
        }
    </script>
</body>

</html>